* {
    margin: 0;
    padding: 0;
    box-sizing: normal;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    margin: 0px auto;
    max-width: 1240px;
}

header {
    width: 100%;
    height: 65px;
}

header .container {
    display: flex;
    align-items: center;
    height: 65px;
}

header .logo {
    width: 25%;
}

header .logo a {
    color: #3cb878;
    text-transform: uppercase;
    font-weight: bold;
}

header .menu {
    width: 60%;
}

header .menu ul {
    display: flex;
}

header .menu ul li a {
    color: #3f4853;
    padding: 0px 20px 0px 20px;
    text-transform: uppercase;
}

header .menu ul li a:hover {
    color: #3cb878;
}

header .sidebar-top {
    display: flex;
}

header .sidebar-top a {
    display: block;
    width: 30px;
    margin-right: 15px;
    position: relative;
}

header .sidebar-top a:nth-child(1) span {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #3cb878;
    position: absolute;
    right: 0px;
    top: -15px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}


/* slider */

#slider,
.slider-icon {
    width: 100%;
    height: 560px;
}

.slider-icon img {
    max-width: 100%;
    width: 100%;
}

.slider-icon {
    position: relative;
}

.slider-icon h2 {
    position: absolute;
    top: 40%;
    left: 15%;
    color: #333;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.slider-icon h2 small {
    display: block;
    color: #3cb878;
}


/* best-seller */

#best-seller {
    width: 100%;
    margin-top: 60px;
    display: block;
}

ul.product-list {
    display: flex;
}

ul.product-list li {
    width: 20%;
    position: relative;
}

ul.product-list li:hover div.buy {
    display: block;
}

ul.product-list li a {
    color: #333333;
    font-size: 1rem;
    display: flex;
}

ul.product-list li p {
    color: #3cb878;
    padding-top: 10px;
}

ul.product-list li img {
    max-width: 220px;
}

ul.product-list li.introduce {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

ul.product-list li h2 {
    text-transform: uppercase;
    color: #333;
}

ul.product-list li small {
    color: #3cb878;
}

ul.product-list li p {
    color: #333;
    font-size: .9rem;
    max-width: 200px;
}

ul.product-list div.buy {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 30px;
    display: none;
}

ul.product-list div.buy a {
    display: block;
    width: 25px;
    height: 25px;
    /* border: 1px solid; */
    background: #3cb878 url(img/buy.png) no-repeat;
    margin-bottom: 5px;
}

ul.product-list div.buy a:nth-child(1) {
    background-position: 1px 5px;
}

ul.product-list div.buy a:nth-child(2) {
    background-position: 2px -45px;
}

ul.product-list div.buy a:nth-child(3) {
    background-position: 2px -95px;
}

/* shipping */
#shipping {
    background: #f5f6f9;
    padding: 50px 0;
    margin-top: 60px;
}
#shipping ul {
    display: flex;
}
#shipping ul li {
    width: 25%;
    text-align: center;
}
#shipping ul li h2 {
    text-transform: uppercase;
    font-size: .8rem;
    padding-bottom: 5px;
    
}
#shipping ul li small {
    color: #888;
    font-size: 13px;
}

/* promotion */
#promotion {
    background: #2e3348;

}
#promotion ul {
    display: flex;
    justify-content: space-between;
}
#promotion ul li {
    width: 30%;
    display: block;
    padding: 40px 0;
}
#promotion ul li:nth-child(2) {
    /* background: #34394f; */
}
#promotion ul li img {
    width: 80%;
}